<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body><h2>Hello {{ name }}</h2>
    <h1>List of all Links:</h1>
    <ul>
        <li>
            <a href="{% url 'Contacts:contact-index' %}"> Contact index</a>
        </li>
         <li>
            <a href="{% url 'Items:item-index' %}"> Item index</a>
        </li>
         <li>
            <a href="#"> Details Add</a>
        </li>
         <li>
            <a href="{% url 'Details:details-newadd' %}"> Details newadd</a>
        </li>
    </ul>
</body>
</html>