{% extends "Contacts/base.html" %}
{%  block title %}Bank Accounts {% endblock %}
{%  block content %}
    <br>
    <div class="container-fluid">
    <h2>Your Bank Accounts:</h2>
    <ul>
    {% if object_list %}
         <table class="table table-striped table-hover ">
          <thead>
            <tr>
                <th>Contact Name</th>
                <th>Company Name</th>
                <th>Delete</th>
            </tr>
          </thead>
          <tbody>
    {%  for ba in object_list %}


            <tr class="info">
                  <td>
                      {{ ba.Bank_Name }}</td>

                       <td> {{ ba.Account_No }}
                  </td>
                  <td>{{ ba.Description }}</td>
                  <td>
                       <form action="{% url 'Accounts:bankaccount-delete' ba.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <input type="hidden" name = "ba_id" value=" {{ ba.id }}"/><!--error zone -->
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                       </form>

                  </td>
            </tr>


    {% endfor %}
         </tbody>
        </table>
    {% else %}
        There are no Accounts!


    {% endif %}
     <a href="{% url 'Accounts:bankaccount-add' %}" class="btn btn-danger btn-md">Add an Account</a>
    </div>
{% endblock %}