{% extends "Contacts/base.html" %}
{%  block content %}<br>

    <div class = "container-fluid">
        <h2 align="center">Add a Purchase Entry</h2>
        <div class="col-lg-offset-2">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="panel panel-default col-lg-10">
                    <div class="panel-body" >
                        <br>
                             {%  include 'Contacts/form_template.html' %}
                             <button class="btn btn-primary btn-md" type="submit">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}